<div class='input_widget postcode-widget'>
	{% if widget.label %}
		<label for="{{ widget.attributes["id"] }}" class="fw-bolder text-primary">
			{{ widget.label }}
		</label>
	{% endif %}
    <div class="input-group mb-3">
        {{ widget.postcodeSelect }}
        <input type='text' class='postcode-input form-control' value="{{ widget.postcodeInputVal }}" required/>
        <input type='hidden' name='{{ widget.name }}' class='postcode-value' value="{{ widget.value }}">
    </div>
    {% if widget.description %}
		<small for="{{ widget.attributes["id"] }}" class="d-block">
			{{ widget.description }}
		</small>
	{% endif %}
</div>