<!DOCTYPE html>
<html lang="{{ language() }}">
	{% include 'header.twig' %}
	<body class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed aside-enabled aside-fixed" style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px" 
	data-kt-aside-minimize="on">
		<div
			class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="page d-flex flex-row flex-column-fluid">
				{{ theme.sidebar }}
				<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
					{{ theme.navbar }}
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						{% block to_top %}
							<div
								id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
								<!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
								<span class="svg-icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none">
										<rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="black"/>
										<path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="black"/>
									</svg>
								</span>
								<!--end::Svg Icon-->
							</div>
						{% endblock %}
						{% block title %}
							<div
								class="toolbar" id="kt_toolbar">
								<!--begin::Container-->
								<div
									id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
									<!--begin::Page title-->
									<div
										data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
										<!--begin::Title-->
										<h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">{{ controller.title }}</h1>
										<!--end::Title-->
									</div>
									<!--end::Page title-->
									<!--begin::Actions-->
									<div class="d-flex align-items-center gap-2 gap-lg-3">
										{% for action in controller.actions %}
											{{ action }}
										{% endfor %}
									</div>
									<!--end::Actions-->
								</div>
								<!--end::Container-->
							</div>
						{% endblock %}
						<div class="post d-flex flex-column-fluid">
							<div id="kt_content_container" class="container-xxl">
								{% block content %}
									<div class="card p-2">
										{{ controller.printMessages() }}
										{{ controller.echoContent()|raw }}
									</div>
								{% endblock %}
							</div>
						</div>
					</div>
					{% block footer %}
						<footer style="background-color: #1e1e2d;">
							<div class="container text-center p-3">
								<img class="footer-logo" src="{{ constant("BASE_URL") }}/assets/logo.png"/>
							</div>
							<div class="container">
								<div class="row text-light text-start text-uppercase">
									<div class="col-md-3 col-12 mt-4">
										{{ t("call") }}
										<hr/>
										<a href="https://api.whatsapp.com/send?phone={{ variable(" general_enquiries_phone").value }}" target="_blank">
											<img class="img-fluid mb-3" src="{{ constant("BASE_URL") }}/assets/whatsapp-logo.png">
										</a>
									</div>
									<div class="col-md-3 col-12 mt-4">
										{{ t("customer_care") }}
										<hr>
										{% if variable("use_postcode_list").value.getValue() %}
											<div>
												<a href="{{ constant("BASE_URL") }}/delivery">
													{{ t("delivery_days") }}
												</a>
											</div>
										{% endif %}
										<div>
											<a href="{{ constant("BASE_URL") }}/contact">
												{{ t("contact_us") }}
											</a>
										</div>
										{% if not user().isLoggedIn() %}
											<div>
												<a href="{{ constant("BASE_URL") }}/register">
													{{ t("become_a_customer") }}
												</a>
											</div>
										{% endif %}
									</div>
									<div class="col-md-3 col-12 mt-4">
										{{ t("our_website") }}
										<hr class="footer-hr">
										<div>
											<a href="{{ constant("BASE_URL") }}/page/about-us">
												{{ t("about_us") }}
											</a>
										</div>
										<div>
											<a href="{{ constant("BASE_URL") }}/page/privacy-policy">
												{{ t("privacy_policy") }}
											</a>
										</div>
										<div>
											<a href="{{ constant("BASE_URL") }}/page/terms-and-conditions">
												{{ t("terms_and_conditions")|raw }}
											</a>
										</div>
									</div>
									<div class="col-md-3 col-12 mt-4">
										{{ t("explore_more") }}
										<hr class="footer-hr">
										<div>
											<a href="{{ constant("BASE_URL") }}/page/how-to">
												{{ t("how_to") }}
											</a>
										</div>
										<div>
											<a href="{{ constant("BASE_URL") }}/blogs">
												{{ t("blog") }}
											</a>
										</div>
									</div>

								</div>
							</div>
							<div class="container text-center">
								<small>© Copyright
									{{ 'now' | date('Y') }},
									{{ variable("site_name").value }}
									All Rights Reserved.
									<div class="container text-center p-3">
										{% set facebook = variable("facebook_url") %}
										{% if facebook.value.value %}
											<a href="{{ facebook.value.value }}" target="_blank">
												<i class="fab fa-facebook-square"></i>
											</a>
										{% endif %}
										{% set instagram = variable("instagram_url") %}
										{% if instagram.value.value %}
											<a href="{{ instagram.value.value }}" target="_blank">
												<i class="fab fa-instagram"></i>
											</a>
										{% endif %}
										{% set twitter = variable("twitter_url") %}
										{% if twitter.value.value %}
											<a href="{{ twitter.value.value }}" target="_blank">
												<i class="fab fa-twitter-square"></i>
											</a>
										{% endif %}
										{% set linkedin = variable("linkedin_url") %}
										{% if linkedin.value.value %}
											<a href="{{ linkedin.value.value }}" target="_blank">
												<i class="fab fa-linkedin"></i>
											</a>
										{% endif %}
									</div>

								</small>
							</div>
						</footer>
					{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>
