{% extends "page.twig" %}

{% block content %}

	<div class="mb-5">
		<div class="swiper-container banner-swiper" data-speed="{{ controller.bannerSlideSpeed }}" data-loop="true" data-autoplay='{"delay": {{ controller.bannerSlideSpeed }}}' data-pagination='{"el":".swiper-pagination", "type":"progressbar", "clickable":true}' data-navigation='{"nextEl": "#banner-next1", "prevEl": "#banner-prev1"}'>
			<div class="swiper-wrapper">
				{% for index, banner in controller.banners %}
					<div class="swiper-slide">
						{% set box = banner.banner_box.getValue()[0] %}
						{% if box.active %}
							<div class="position-absolute col-lg-3 col-6 p-4 banner-box {{ box.position }}-aligned">
								<div class="card h-100 p-1 text-gray-900" style="background: {{ box.background_color }};">
									<div class="card-body">
										<h5 class="card-title">{{ box.title }}</h5>
										<hr style=" width: 25%; background: {{ box.line_color }}; border-width: 4px; margin: inherit; margin-bottom: 5px;"/>
										<div class="h-100">
											{{box.text|raw}}
										</div>
									</div>
									<div class="card-footer border-0" style="background: {{ box.background_color }};">
										<a href="{{ box.url ?: "#" }}" class="btn btn-danger d-block w-50 m-auto">{{
												box.button_text ?: t("find_out_more")
											}}</a>
									</div>
								</div>
							</div>
						{% endif %}
						<picture>
							<source media="(max-width:984px)" srcset="{{ banner.getFileUrlForField("mobile_image") }}" class="img-fluid rounded" alt="{{ banner.title }}" title="{{ banner.title }}">
							<img src="{{ banner.getFileUrlForField("desktop_image") }}" alt="{{ banner.title }}" class="img-fluid w-100 rounded" title="{{ banner.title }}">
							<a href="{{ constant("BASE_URL") ~ banner.url }}" class="stretched-link"></a>
						</picture>
					</div>
				{% endfor %}
			</div>
			<div class="swiper-pagination"></div>
			<!-- navigation buttons -->
			<div id="banner-prev1" class="swiper-button-prev"></div>
			<div id="banner-next1" class="swiper-button-next"></div>
		</div>
	</div>

	<div class="container">
		{{ controller.space }}
	</div>

	<div class="container">
		{{ controller.latestOffers|raw }}
	</div>
	<div class="container">
		{{ controller.boxesUnderLatest }}
	</div>
	<div class="container">
		{{ controller.topSellers|raw }}
	</div>
	<div class="container">
		{{ controller.boxesTopSellers }}
	</div>
	<div class="container">
		{{ controller.favorites|raw }}
	</div>
	<div class="container">
		{{ controller.recentItems|raw }}
	</div>
{% endblock %}
